/* || Content */

.container {

}

/* || Title */

.title {
    font-size: 3rem;
    margin: 40px 0;
}

.title_focus {
    color: #2E9CCA;
}

/* || Icons */

.icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 150px;
}

.icon_link {
    transition: all 250ms ease-in-out;
}

.icon_link:hover {
    transform: translateY(-25%);
}

/* || Queries */

@media (max-width: 1000px) {
    .container {
        margin: 0 clamp(15px, 10vw, 70px);
    }

    .icon_container {
        gap: clamp(50px, 10vw, 150px)
    }

    .icon {
        width: clamp(70px, 8vw, 90px)
    }
}
