
/* || Container */

.container {
    margin: 0 auto 100px;
    position: relative;
}

/* || Title */

.title {
    font-size: 3rem;
    margin: 40px 0;
}

.title_focus {
    color: #2E9CCA;
}

/* || Form Container */

.form_container {
    background: #141534;
    border: 3px solid #22295d;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    border-radius: 10px;
    margin: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* || Fields */

.name, .email, .message {
    border-radius: 5px;
    padding: 8px;
    margin: 10px;
    width: 50%;
    background-color: #464866;
    font-size: 1.6rem;
    border: 3px solid #22295d;
}

.name:focus, .email:focus, .message:focus {
    outline: none;
    caret-color: #ab8f87;
}

.name, .email {
    height: 30px;
}

.message {
    font-family: "Helvetica Neue", sans-serif;
    resize: none;
}

/* || Button */

.button {
    width: 25%;
    background-color: #2c3675;
    border: 3px solid #22295d;
    font-size: 1.6rem;
    transition: all 200ms ease-in-out;
    border-radius: 5px;
    padding: 8px;
    margin: 10px;
}


.button:hover {
    background-color: #3a489a;
    cursor: pointer;
}

/*!* || Animation *!*/

/*.animation_container {*/
/*    position: absolute;*/
/*    right: 5%;*/
/*    bottom: 10px;*/
/*    height: 30%;*/
/*    width: 33%;*/
/*    z-index: 0;*/
/*}*/

/* || Queries */

@media (max-width: 1000px) {
    .container {
        margin: 0 clamp(15px, 10vw, 70px);
    }

    .form_container {
        margin: 0 clamp(0px, 2vw, 100px) 100px;
    }

    .name, .email, .message {
        padding: clamp(4px, 1vw, 8px);
        margin: 10px;
        font-size: clamp(1.2rem, 2vw, 1.6rem);
    }

}


