
/* || Content */

.container {
    margin: 0 auto 20rem;
}

/* || Title */

.title{
    font-size: 3rem;
}

.title_focus {
    color: #EC8E0FFF;
}

/* || Description */

.description {
    font-size: 1.8rem;
}

