.title {
    font-size: 30px;
}

.title_focus {
    color: #EC8E0FFF;
}

.icon_container {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.icon_container a:hover {
    transform: translateY(-25%);
    transition: all 250ms ease-in-out;
}