
/* || Title */

.title {
    font-size: 3rem;
}

.title_focus {
    color: #EC8E0FFF;
}

/* || Icons */

.icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.icon {
    transition: all 250ms ease-in-out;
}

.icon:hover {
    transform: translateY(-25%);
}