
/* || Content */

.navbar {
    /*Styling*/
    box-sizing: border-box;
    background-color: #0046ad;
    font-size: 2rem;
    font-weight: bold;
    transition: top 0.3s;
    opacity: 95%;
    padding: 20px 20px 15px 20px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    /*Positioning*/
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* || Page Links */

.nav__links {
    /*Styling*/
    margin: 0;
    padding: 0;
    list-style: none;
    /*Positioning*/
    display: flex;
    justify-content: center;
    gap: 15px;
}

.link {
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.link:hover {
    color: #EC8E0FFF
}

/* || Resume Link */

.nav__resume {
    transition: all 0.3s ease 0s;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
}

.nav__resume:hover {
    background-color: #c97b0e;
}