/* || Content */

.navbar {
    /*Styling*/
    box-sizing: border-box;
    background-color: #0046ad;
    font-size: 2rem;
    font-weight: bold;
    transition: top 0.3s;
    opacity: 95%;
    padding: 20px 20px 15px 20px;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .2);
    /*Positioning*/
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* || Logo */

.image_container {
    display: block;
    width: 120px;
}

/* || Page Links */

.nav__links {
    /*Styling*/
    margin: 0;
    padding: 0;
    list-style: none;
    /*Positioning*/
    display: flex;
    justify-content: center;
    gap: 15px;
}

.link {
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.link:hover {
    color: #EC8E0FFF
}

/* || Nav Buttons */

.nav__button__container {
    display: flex;
    gap: 4px;
}


.nav__button {
    transition: all 0.3s ease 0s;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
}

.nav__button:hover {
    background-color: #c97b0e;
}

/* || Menu */

.menu__button {
    display: none;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.menu__links {
    text-align: center;
    display: none;
    font-size: 2rem;
    font-weight: bold;
    background-color: #003483;
    margin: 0;
    padding: 4px;
    list-style: none;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.menu__links li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__links hr {
    width: 80px;
    margin: 2px 0 6px 0;
    border: 1px solid #c97b0e;
}

/* || Queries */

@media only screen and (max-width: 640px) {
    .nav__button, .nav__links {
        display: none;
    }

    .navbar {
        height: 80px;
        padding: 14px 14px 10px 14px;
        position: static;
    }

    .menu__button {
        display: block;
        width: 90px;
        /* To improve */
        position: relative;
        height: 80px;
        top: -8px;
        right: -24px;
    }

    .menu__icon {
        width: 60px;
    }

    .image_container {
        width: 80px;
    }
}

@media only screen and (min-width: 641px) and (max-width: 768px) {
    .navbar {
        font-size: 1.6rem;
    }

    .image_container {
        width: 90px;
    }

    .nav__links {
        gap: 35px;
    }
}