.container {
    height: 120rem;
    display: flex;
    flex-direction: column;

}

.content {
    padding-top: 200px;
}

.content header h3 {
    padding-left: 4px;
}

.content section {
    padding-left: 4px;
}

.title_name a {
    color: #EC8E0FFF;
    font-size: 85px;
}

.title_name a:hover,
.title_name a:focus,
.title_name a:active {
    transition: all 0.3s ease-in-out;
    text-decoration: underline 1px solid #c97b0e;
    background-size: cover;
    background: url("https://media.giphy.com/media/t2aAdTgnU9Ie6jvG0W/giphy-downsized-large.gif") center;
    -webkit-background-clip: text;
    color: rgba(255, 185, 59, 0.28);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title_statement {
    font-size: 8rem;
    margin: 0;
}

.description {
    margin-bottom: 30px;
    font-size: 1.6rem;
    font-weight: bold;
}

.button {
    padding: 15px;
    width: 150px;
    font-size: 2rem;
    background-color: #EC8E0FFF;
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin-right: 10px;

}

.button:hover {
    background-color: #296377;
}
