
/* || Content */

.content {
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.content section {
    padding-left: 4px;
}

/* || Title Name  */

.title_greet {
    font-size: 2rem;
    padding-left: 4px;
}

.title_name a {
    color: #EC8E0FFF;
    font-size: 8.5rem;
    margin: 20px 0;
}

.title_name a:hover,
.title_name a:focus,
.title_name a:active {
    color: rgba(255, 185, 59, 0.28);
    transition: all 0.3s ease-in-out;
    text-decoration: underline 1px solid #c97b0e;
    background-size: cover;
    background: url("https://media.giphy.com/media/t2aAdTgnU9Ie6jvG0W/giphy-downsized-large.gif") center;
    -webkit-background-clip: text;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title_statement {
    font-size: 8rem;
    margin: 0;
}

/* || Title Statement */

.description {
    /*color: #e1bdb2;*/
    margin-bottom: 30px;
    font-size: 1.6rem;
    font-weight: bold;
}

/* || Buttons */

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.button {
    font-size: 2rem;
    color: white;
    background-color: #EC8E0FFF;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    transition: all 400ms ease-in-out;
    border: none;
    border-radius: 5px;
    padding: 15px;
    width: 150px;
    cursor: pointer;

}

.button:hover, .button:active {
    /*background-color: #b69787;*/
    background-color: #ab8f87;
}

/* || Queries */

@media only screen and (max-width: 640px) {
    .content {
        margin: 0 clamp(15px, 10vw, 70px);
        justify-content: flex-start;
        padding-top: 30px;
        height: calc(100vh - 110px);
    }

    .title_greet, .button {
        font-size: clamp(1.2rem, 5vw , 2rem);
    }

    .title_name a{
        font-size: clamp(4rem, 12vw, 8.5rem);
    }

    .title_statement {
        font-size: clamp(3rem, 10vw, 8rem);
    }

    .description {
        font-size: clamp(1.3rem, 5vw, 1.6rem);
    }

    .button {
        width: clamp(110px, 2vw, 150px);
    }
}

@media only screen and (min-width: 641px)and (max-width: 1000px) {
    .content {
        margin: 0 clamp(15px, 10vw, 70px);
    }

    .title_greet, .button {
        font-size: clamp(1.5rem, 2vw , 2rem);
    }

    .title_name a{
        font-size: clamp(5rem, 8vw, 8.5rem);
    }

    .title_statement {
        font-size: clamp(4rem, 8vw, 8rem);
    }

    .description {
        font-size: clamp(1.5rem, 2vw, 1.6rem);
    }

    .button {
        width: clamp(120px, 2vw, 150px)
    }
}