
/* || Content */

.container {
    margin: 0 auto 20rem;
}

/* || Title */

.title{
    font-size: 3rem;
}

.title_focus {
    color: #EC8E0FFF;
}

/* || Cards Grid */

.cards_grid {

}

/* || Card */

.card {

}

.card_title {
    transition: all 0.2s ease 0s;
    font-size: 2.4rem;
}

.card_title:hover {
    color: #bda59d;
}

.arrow {
    color: #EC8E0FFF;
}

.card_description {
    font-size: 1.7rem;
}


@media (max-width: 1000px) {
    .container {
        margin: 0 clamp(15px, 10vw, 70px) 20rem;
    }

    .title {
        font-size: clamp(2rem, 8vw, 3rem);
    }

    .card_title {
        font-size: clamp(1.8rem, 8vw, 2.4rem);
    }

    .card_description {
        font-size: clamp(1.5rem, 5vw, 1.7rem);
    }
}