.title {
    font-size: 3rem;
}

.title_focus {
    color: #EC8E0FFF;
}

.icon_container {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 25px;
    list-style: none;
}

.icon_container li:hover {
    transform: scale(1.40);
    transition: all 400ms ease-in-out;
    cursor: pointer;

}