
/* || Content */

.container {
    margin: 0 auto 20rem;
}

/* || Title */

.title{
    font-size: 3rem;
}

.title_focus {
    color: #EC8E0FFF;
}

/* || Icons */

.icon_container {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
}

.icon {
    transition: all 400ms ease-in-out;
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.40);
}

/* || Queries */

@media (max-width: 1000px) {
    .container {
        margin: 0 clamp(15px, 10vw, 70px) 20rem;
    }

    .title {
        font-size: clamp(2rem, 8vw, 3rem);
    }

    .icon {
        width: clamp(80px, 8vw, 90px)
    }
}