
/* || Content */

.container {
    margin: 0 auto 20rem;
}

/* || Title */

.title{
    font-size: 3rem;
    margin: 40px 0;
}

.title_focus {
    color: #EC8E0FFF;
}

/* || Description */

.description {
    font-size: 1.8rem;
}

/* || Queries */

@media (max-width: 1000px) {
    .container {
        margin: 0 clamp(15px, 10vw, 70px) 20rem;
    }

    .title {
        font-size: clamp(2rem, 8vw, 3rem);
    }

    .description {
        font-size: clamp(1.6rem, 5vw, 1.8rem);
    }
}

