/* || Content */

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0 20px;
}

/* || Title */

.title {
    font-size: 3rem;
}

.title_focus {
    color: #EC8E0FFF;
}

/* || Board */

.board {
    border: 0;
    border-radius: 8px;
    box-shadow: 20px 20px 16px rgba(0, 0, 0, 0.80);
}

/* || Footer */

.footer__container {
    margin-top: 20px;
}

/* || Queries */

@media (max-width: 600px) {
    .board {
        width: 90%;
    }
}

