.container {

}

/*Main(all) content*/
.main {
  width: 1000px;
  margin: 0 auto;
}

.core {
  /*height: 1200px;*/
  margin: 0 auto 200px auto;
}

/*Footer*/
.footer {

}

.footer a {

}
/*Skills */


/* All titles*/
.title_focus {
  color: #ad6700;
}


/*Descriptions*/
.description {

}






