/* || Content */

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

/* || Main Content */
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

/* || Title */

.title{
    font-size: 3rem;
}

.title_focus {
    color: #EC8E0FFF;
}


/* || Link Container */

.link_container {
    display: block;
    box-shadow: 20px 20px 16px rgb(0, 0, 0);
    background-color: rgb(0,0,0);
    width: clamp(310px, 80vw, 700px);
    border-radius: 10px;
    transition: all 250ms ease-in-out;
}

.link_container:hover {
    transform: translateY(-1.5%) translateX(-1.5%);
}

.image {
    border-radius: 10px;
}

/* || Queries */

@media (max-width: 500px) {
    .container {
        height: 100vh;
        justify-content: flex-start;
    }
}